<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG_project.DependesOnMethod"/>
      <class name="TestNG_project.Priority_2"/>
      <class name="TestNG_project.MultipleTestMethod"/>
      <class name="TestNG_project.Priority"/>
      <class name="TestNG_project.InvocationCount"/>
      <class name="TestNG_project.MultipleDependency"/>
      <class name="TestCase_Class.ActitimeLogin_Logout"/>
      <class name="TestNG_project.EnableMethod"/>
      <class name="TestNG_project.InvocationCount_Priority"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
